
body{
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
    
    
}
.logo{
    width: 5%;
    height: 5%;
}

.corpo{
    margin: 5.3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
.imagemcorpo{
    width: 20%;
    height: 20%;
}

button:hover{
    cursor: pointer;
}
button{
    border: none;
    background-color: white;
    font-size: large;
}